<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <!--<property name="hibernate.connection.url">jdbc:mysql:///migrate_test?cloudSqlInstance=social-distancing-272013:europe-west1:mysql-test&amp;socketFactory=com.google.cloud.sql.mysql.SocketFactory</property>-->

        <property name="hibernate.connection.url">jdbc:mysql://cloudsql/social-distancing-272013:europe-west1:mysql-test/migrate_test?socketFactory=com.google.cloud.sql.mysql.SocketFactory</property>
        <property name="hibernate.connection.username">oliver</property>
        <property name="hibernate.connection.password">oliver123</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

    </session-factory>
</hibernate-configuration>